@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

/* START LOGIN AND REGISTER */
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  height: 100vh;
  width: 100vw;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 2rem;
}

.image {
  height: 30rem;
  border-radius: 8px;
}

.textfield-username,
.textfield-email,
.textfield-password,
.textfield-confpassword {
  display: flex;
  flex-direction: column;
}

.form-login,
.form-register {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#email,
#password,
#username,
#confpassword {
  padding: 0.5rem;
  width: 350px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

#email:focus,
#password:focus,
#username:focus,
#confpassword:focus {
  border-color: #66afe9;
}

.btn-login,
.btn-register {
  outline: none;
  stroke: none;
  padding: 0.8rem;
  border-radius: 6px;
  margin-top: 0.5rem;
  width: 50%;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
}

.btn-login {
  background-color: #04aa6d;
  border: none;
  color: white;
}

.btn-register {
  border: 1px solid #04aa6d;
  color: #04aa6d;
}

.btn-login:hover {
  color: rgb(0, 0, 0);
  transition-duration: 0.4s;
  background-color: white;
  border: 1px solid #04aa6d;
}

.btn-register:hover {
  background-color: #04aa6d;
  color: white;
  transition-duration: 0.4s;
}

.action-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
/* END LOGIN AND REGISTER */

/* START NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
  padding: 0.6rem 1.5rem;
  margin-bottom: 1rem;
}

.left-navbar {
  display: flex;
  gap: 1rem;
}

.center-navbar {
  display: flex;
  gap: 1rem;
}

.right-navbar {
  display: flex;
  gap: 1rem;
}
/* END NAVBAR */

/* START HOME */
.home {
  display: flex;
  gap: 1rem;
}

.sidebar {
  background-color: #66afe9;
  width: 20%;
  
}

.main-content {
  background-color: #04aa6d;
  flex: 1;
}

.right-side {
  background-color: yellow;
  width: 20%;
}
/* END HOME */
